body {
  transform-style: preserve-3d;
  perspective: 1000px;
  height: 100vh;
  color: #333;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.card {
  width: 400px;
  height: 200px;
  position: relative;
  background: #DC143C;
  border-radius: 3px;
  background-position: top center;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 8px;
  border-radius: 50%;
  left: 0;
  bottom: 0px;
  box-shadow: 0 30px 20px white;
}

.card-content {
  transform-style: preserve-3d;
  text-align: center;
}

.card-content h1 {
  color: #FFF;
  transform: translateZ(100px);
}

.card-content p {
  color: #FFF;
  transform: translateZ(50px);
}

